@model QuanLyKhoaHoc.Models.khCapHoiDong

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    Cấp hội đồng
    <a href="#"  id="btnInsert">
        <span class="glyphicon" style="font-size:14px; color:green; "><i class="glyphicon glyphicon-plus"></i></span>
        <span class="s-text">Thêm mới</span>
    </a>
   }
<div class="container-fluid">

</div>

@section Scripts{


}