
<div class="site-sidebar">
    <div class="custom-scroll custom-scroll-light">
        <ul class="sidebar-menu">
            <li class="menu-title">Quản lý khoa học</li>
            <li class="with-sub">
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                    <span class="s-icon"><i class="ti-layout-tab"></i></span>
                    <span class="s-text">Đề tài, Chuyên đề</span>
                </a>
                <ul>
                    <li><a href="#">Thang điểm đánh giá</a></li>
                    <li><a href="#">Thành lập hội đồng khoa học</a></li>
                    <li><a href="#">Danh sách đề tài - chuyên đề đăng ký</a></li>
                    <li><a href="#">Nghiệm thu chính thức</a></li>
                    <li><a href="#">Quản lý kinh phý tổng</a></li>
                    <li><a href="#">Quản lý kinh phí theo từng đề tài</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-calendar"></i></span>
                    <span class="s-text">Hội thảo khoa học</span>
                </a>
            </li>

            <li>
                <a href="#" class="waves-effect  waves-light">
                    <span class="s-icon"><i class="ti-list"></i></span>
                    <span class="s-text">Chương trình đào tạo</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index","CanBo")" class="waves-effect waves-light">
                    <span class="s-icon"><i class="ti-user"></i></span>
                    <span class="s-text">Hồ sơ - lý lịch khoa học</span>
                </a>
            </li>

            <li class="with-sub">
                <a href="#" class="waves-effect waves-light">
                    <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                    <span class="s-icon"><i class="ti-search"></i></span>
                    <span class="s-text">Tìm kiếm thống kê</span>
                </a>
                <ul>
                    <li><a href="#">TÌm kiếm</a></li>
                    <li><a href="#">Thống kê</a></li>
                </ul>
            </li>

            <li class="with-sub">
                <a href="#" class="waves-effect waves-light">
                    <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                    <span class="s-icon"><i class="ti-list"></i></span>
                    <span class="s-text">Danh mục</span>
                </a>
                <ul>
                    <li><a href="#">Ngành đào tạo</a></li>
                    <li><a href="@Url.Action("Index","ChuyenNganhDaoTao")">Chuyên ngành đào tạo</a></li>
                    <li><a href="@Url.Action("Index","Khoa")">Khoa</a></li>
                    <li><a href="@Url.Action("Index","ChuyenMon")">Chuyên môn</a></li>
                    <li><a href="#">Chức vụ hội đồng</a></li>
                    <li><a href="#">Loại hội đồng</a></li>
                    <li><a href="#">Đơn vị quản ký</a></li>
                    <li><a href="#">Chức vụ đơn vị</a></li>
                    <li><a href="#">Loại dự toán</a></li>
                    <li><a href="#">Loại hình nghiên cứu</a></li>
                    <li><a href="#">Lĩnh vực nghiên cứu</a></li> @*Lĩnh vực khoa học*@
                    <li><a href="#">Kết quả đề tài</a></li> @*dmXepLoai*@
                    <li><a href="#">Yêu cầu khoa học</a></li>
                    <li><a href="#">TÌnh trạng đề tài</a></li>
                    <li><a href="#">Chức danh khoa học</a></li>
                    <li><a href="#">Cấp quản lý</a></li>
                    <li><a href="#">Loại đề tài</a></li>
                    <li><a href="#">Đơn vị phối hợp</a></li>
                    <li><a href="#">Cơ quan chủ quản</a></li>
                    <li><a href="#">Đơn vị chủ trì</a></li>
                    <li><a href="#">Cơ quan cấp kinh phí</a></li>
                    <li><a href="#">Khu vực nghiên cứu</a></li>
                    <li><a href="#">Loại kế hoạch</a></li>
                    <li><a href="#">Cấp hội thảo</a></li>
                    <li><a href="#">Khóa học</a></li>
                    <li><a href="#">Danh mục sản phẩm</a></li>
                    <li><a href="#">Danh mục giá sản phẩm</a></li>
                    <li><a href="#">Danh mục bậc đào tạo</a></li>
                    <li><a href="#">Damh mục loại chi</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>