@model IEnumerable<QuanLyKhoaHoc.Models.dmLinhVucNghienCuu>

<select id="SelectLinhVucNghienCuu" class="form-control">
    <option value="-1">Chọn</option>
    @foreach (var item in Model)
    {
        <option value="@item.ID_linh_vuc_nghien_cuu"> @item.Linh_vuc_nghien_cuu </option>
    }
</select>
