@model IEnumerable<QuanLyKhoaHoc.Models.dmLoaiHinhNghienCuu>

<select id="SelectLoaiHinhNghienCuu" class="form-control">
    <option value="-1">Chọn</option>
    @foreach (var item in Model)
    {
        <option value="@item.ID_loai_hinh"> @item.Loai_hinh </option>
    }
</select>
