@model IEnumerable<QuanLyKhoaHoc.Models.dmCoQuanChuTri>

<select id="SelectDonViChuTri" class="form-control">
    <option value="-1">Chọn</option>
    @foreach (var item in Model)
    {
        <option value="@item.ID_cq_ct"> @item.Ten_cq </option>
    }
</select>
