@model IEnumerable<QuanLyKhoaHoc.Models.dmCoQuanPhoiHop>
<select id="SelectDonViPhoiHop" class="form-control">
    <option value="-1">Chọn</option>
    @foreach (var item in Model)
    {
        <option value="@item.ID_cq_ph"> @item.Ten_cq </option>
    }
</select>
