@model IEnumerable<QuanLyKhoaHoc.Models.dmChuyenNganhDaoTao>


<select id="SelectChuyenNganh" class="form-control">
    <option value="-1">Chọn</option>
    @foreach (var item in Model)
    {
        <option value="@item.ID_chuyen_nganh">@item.Chuyen_nganh </option>
    }
</select>