@model IEnumerable<QuanLyKhoaHoc.Models.khCapQuanLy>


<select id="SelectCapQuanLy" class="form-control">
    <option value="-1">Chọn</option>
    @foreach (var item in Model)
    {
        <option value="@item.ID_cap_quan_ly"> @item.Ten_cap_quan_ly </option>
    }
</select>
