@{
    ViewBag.Title = "Trang chủ";

}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table class="table table-responsive ">
        <thead>
            <tr>
                <th width="200">Make</th>
                <th width="200">Model</th>
                <th width="200">Color</th>
                <th width="200">Year</th>
            </tr>
        </thead>
    </table>
    <div class="custom-scroll" style=" width: auto; height: 400px; border:1px solid red;">

        <table class="table table-responsive ">
            <tbody>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td width="200" class="filterable-cell">Ford</td>
                    <td width="200" class="filterable-cell">Escort</td>
                    <td width="200" class="filterable-cell">Blue</td>
                    <td width="200" class="filterable-cell">2000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>