@model IEnumerable<QuanLyKhoaHoc.Models.dmChucVuHoiDong>


<select id="SelectChucVuHoiDong" class="form-control">
    <option value="-1">Chọn</option>
    @foreach (var item in Model)
    {
        <option value="@item.ID_chuc_vu_hd">@item.Chuc_vu </option>
    }
</select>