@model IEnumerable<QuanLyKhoaHoc.Models.dmCoQuanChuQuan>


<table class="table">
    <tr>
        <th>
            Tên cơ quan
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
           Điện thoại
        </th>
        <th>
            Tỉnh
        </th>
        <th width="150" style="text-align:center">Hành động</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_cq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia_chi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dien_thoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_tinh)
        </td>
        <td width="150" style="text-align:center;">

            <a href="javascript:void(0)" style="color:blue; margin-right:20px;" data-toggle="tooltip" title='Sửa' onclick="alter('Sửa')"> <i class="glyphicon glyphicon-pencil"></i></a>  @*></a>*@

            <a href="javascript:void(0)" style="color:red" data-toggle="tooltip" title='Xóa' onclick="alter('Xóa')"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
}

</table>
