@model IEnumerable<QuanLyKhoaHoc.Models.dmChuyenMon>

<table class="table">
    <tr>
        <th>
            Mã chuyên môn
        </th>
        <th>
            Tên chuyên môn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Ma_chuyen_mon
            </td>
            <td>
                @item.Ten_Chuyen_mon
            </td>
            <td>
                <a href="javascript:void(0)" style="color:blue;" data-toggle="tooltip" title="Sửa">
                    <span class="s-icon"><i class="ti-pencil"></i></span>
                </a>
                <a href="javascript:void(0)" style="color:red;" data-toggle="tooltip" title="Sửa">
                    <span class="s-icon"><i class="ti-close"></i></span>
                </a>
            </td>
        </tr>
    }

</table>
